{%extends 'accounts/start.html'%}


{%block content%}
<a href="{% url 'accounts:login' %}" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Login
</a>
<a href="{% url 'accounts:signup' %}">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Signup
</a>

{% endblock %}












<!-- <!DOCTYPE html>
<html>
    <head>
        <title>ChatBook</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Chat Book for instagram</h1>

            <nav>
                <ul>
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:signup' %}">Signup</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
 -->
